<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem 
            name="Warehouse Stock Request" 
            id="custom_warehouse_stock_request_sub_menu"
            parent="stock.menu_stock_warehouse_mgmt"
            action="warehouse_stock_request.custom_action_warehouse_stock_request"
            sequence="140" 
        />
    </data>
</odoo>